.dlccarosel {
  width: 100%;
  height: 50%;
  padding: 5%;
}

.dlccarosel h3{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "LifeCraft", sans-serif;
  text-shadow: 2px 2px 8px #13e3ff;
  color: #ffffffe7;
}
.dlccarosel p{
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "LifeCraft", sans-serif;
  text-shadow: 2px 2px 8px #13e3ff;
  color: #ffffffe7;
}
.content1 {
  display: flex;
  justify-content: center;
}

.dlccontainer {
  background-image: url("/public/img/background.jpg") ;
  background-repeat: repeat-y
}

.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: paleturquoise;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
 font-family: 'Lifecraft';
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: none;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  left: 0;
  top: 0;
  border-radius: 10px;
} 

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
 
.rounded-circle  {
  width: 300px;
  height: 250px;
  margin: 17%;
}
.col2button{
  display: flex;justify-content: center;
  font-size: 1.5rem;
 
}

.dlccarosel h2{
  font-family: 'Lifecraft';text-shadow: 2px 2px 8px #0d84e6;
}
 
.dlch2{
  color: #13e3ff;
}

 

.dlccotainer{
  background-image: url("/public/img/snow4.gif");
  background-color: rgb(46, 44, 44);
}
 